# Ignores everything
/*
/*/

# Unignores itself
!.gitignore

# Ensures that only relevant content in .config is unignored
!.config/
.config/*
!.config/hypr/
!.config/kitty/
!.config/waybar/
!.config/wofi/
!.config/eww/
!.config/Vencord/
.config/Vencord/*
!.config/Vencord/themes/
!.config/doom/

# Ensures that relevant content in .themes is unignored
!.themes/
